$angryred: #ff968a;
$angryred1: #ff261b;
$angryred2: #f7665a;
$angryred3: #dc4a46;
$frustratedorange: #ffb730;
$frustratedorange1: #ff9806;
$frustratedorange2: #faa945;
$frustratedorange3: #ffcc86;
$happyyellow: #fbfb47;
$happyyellow1: #fffec6;
$happyyellow2: #f2f27a;
$happyyellow3: #fcfc4b;
$sickgreen: #64e986;
$sickgreen1: #41cf41;
$sickgreen2: #90ee90;
$sickgreen3: #74c365;
$anxiousblue: #82cafa;
$anxiousblue1: #bdedff;
$anxiousblue2: #87ceff;
$anxiousblue3: #5cb3ff;
$excitedpurple: #cbaacb;
$excitedpurple1: #c9a0dc;
$excitedpurple2: #ba93d8;
$excitedpurple3: #b19cd9;
$sadtan: #ffe49f;
$sadtan1: #ffe4b5;
$sadtan2: #d9c38d;
$sadtan3: #fae7b5;
$proudpink: #ffb6c1;
$proudpink1: #fad4d4;
$proudpink2: #ffc8c7;
$proudpink3: #f29eab;
$confusedgray: #bdbdbd;
$confusedgray1: #7e7e7e;
$confusedgray2: #d3d3d3;
$confusedgray3: #a8a8a8;

$title-font: 'Dosis', sans-serif;